<html>
  <head>
    <title>Aggiunta impiegato - Inventario</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{css}}">
  </head>
  <body>
    <div class="container">
      <h1>
         Aggiunta nuovo impiegato
      </h1>
      <form class="form-inline" action="/imp_add" method="post">
        <select class="form-control" name="sid">
          {% for servizio in servizi %}
            <option value="{{servizio.sid}}">{{servizio.nomeservizio}}</option>
          {% endfor %}
        </select>
        <input class="form-control" type="text" placeholder="Nome e cognome" name="nomeimpiegato">
        <input class="form-control" type="text" placeholder="Nome utente" name="username">
        <input class="form-control" type="text" placeholder="Password" name="passwd">
        <input class="btn btn-primary" type="submit">
      </form>
   </div>
  </body>
</html>
