{% extends "base.htm" %}
{% block title %}Aggiunta Impiegato{% endblock %}
{% block content %}
    <h1>
        Aggiunta nuovo impiegato
    </h1>
    <form class="form-inline" action="/imp_add" method="post">
        <select class="form-control" name="sid">
            {% for servizio in servizi %}
                <option value="{{ servizio.sid }}">{{ servizio.ente.nomebreveente }}
                    - {{ servizio.nomeservizio }}</option>
            {% endfor %}
        </select>
        <input class="form-control" type="text" placeholder="Nome e cognome" name="nomeimpiegato">
        <input class="form-control" type="text" placeholder="Nome utente" name="username">
        <input class="form-control" type="text" placeholder="Password" name="passwd">
        <input class="btn btn-primary" type="submit">
    </form>
{% endblock %}
