{% extends "base.htm" %}
{% block title %}Dettagli Impiegato{% endblock %}
{% block content %}
    <h1>
        Ispeziona Impiegato
    </h1>
    <ul class="list-group">
        <li class="list-group-item">
            <h4 class="list-group-item-heading">
                Nome Impiegato
            </h4>
            <div class="list-group-item-text">
                {{ imp.nomeimpiegato }}
            </div>
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">
                Username
            </h4>
            <div class="list-group-item-text">
                {{ imp.username }}
            </div>
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">
                Password
            </h4>
            <div class="list-group-item-text">
                <code>{{ imp.passwd }}</code>
            </div>
        </li>
    </ul>
    <a href="/imp_show/{{ imp.iid }}">
        <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Modifica
        </button>
    </a>
{% endblock %}