{% extends "base.htm" %}
{% block title %}Elenco impiegati • estus{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>
            Impiegati
            <a class="btn btn-success" href="{{ url_for("page_imp_add") }}">
                <span class="glyphicon glyphicon-plus"></span> Aggiungi
            </a>
        </h1>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nome ente</th>
            <th>Nome servizio</th>
            <th>Nome impiegato</th>
            <th>Nome utente</th>
            <th>Password</th>
            <th>Azioni</th>
        </tr>
        </thead>
        {% for imp in impiegati %}
            <tr>
                <td>{{ imp.servizio.ente.nomeente }}</td>
                <td>{{ imp.servizio.nomeservizio }}
                <td>{{ imp.nomeimpiegato }}</td>
                <td>{% if imp.username %}<code>{{ imp.username }}</code>{% endif %}</td>
                <td>{% if imp.passwd %}<code>{{ imp.passwd }}</code>{% endif %}</td>
                <td>
                    <a href="{{ url_for("page_imp_details", iid=imp.iid) }}" title="Dettagli"><span class="glyphicon glyphicon-zoom-in"></span></a>
                    <a href="{{ url_for("page_imp_show", iid=imp.iid) }}" title="Modifica"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="javascript:void(0)" onclick="delet(&quot;{{ url_for("page_imp_del", iid=12341234) }}&quot;, {{ imp.iid }}, &quot;{{ imp }}&quot;);" title="Elimina"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
