{% extends "base.htm" %}
{% block title %}Elenco impiegati • estus{% endblock %}
{% block content %}
    <h1>
        Impiegati esistenti
    </h1>
    <a class="btn btn-success" href="/imp_add"><span class="glyphicon glyphicon-plus"></span> Aggiungi</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nome ente</th>
            <th>Nome servizio</th>
            <th>Nome impiegato</th>
            <th>Nome utente</th>
            <th>Password</th>
            <th>Azioni</th>
        </tr>
        </thead>
        {% for imp in impiegati %}
            <tr>
                <td>{{ imp.servizio.ente.nomeente }}</td>
                <td>{{ imp.servizio.nomeservizio }}
                <td>{{ imp.nomeimpiegato }}</td>
                <td>{% if imp.username %}<code>{{ imp.username }}</code>{% endif %}</td>
                <td>{% if imp.passwd %}<code>{{ imp.passwd }}</code>{% endif %}</td>
                <td><a href="/imp_details/{{ imp.iid }}" title="Dettagli"><span class="glyphicon glyphicon-zoom-in"></span></a> <a href="/imp_show/{{ imp.iid }}"><span class="glyphicon glyphicon-pencil"></span></a> <a href="/imp_del/{{ imp.iid }}"><span class="glyphicon glyphicon-remove"></span></a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
