{% extends "base.htm" %}
{% block title %}Modifica impiegato • estus{% endblock %}
{% block content %}
    <h1>
        {% if action == "add" %}
            Crea impiegato
        {% elif action == "show" %}
            Modifica impiegato
        {% endif %}
    </h1>
    <form class="form-inline" {% if imp %}action="/imp_show/{{ imp.iid }}"{% endif %} method="post">
        <select class="form-control" name="sid">
            {% for servizio in servizi %}
                <option value="{{ servizio.sid }}"
                        {% if imp and imp.sid == servizio.sid %}selected="selected"{% endif %}>{{ servizio.ente.nomebreveente }}
                    - {{ servizio.nomeservizio }}</option>
            {% endfor %}
        </select>
        <input class="form-control" type="text" placeholder="Nome e cognome" name="nomeimpiegato"
               {% if imp %}value="{{ imp.nomeimpiegato }}{% endif %}">
        <input class="form-control" type="text" placeholder="Nome utente" name="username" {% if imp %}value="{{ imp.username }}"{% endif %}>
        <input class="form-control" type="text" placeholder="Password" name="passwd" {% if imp %}value="{{ imp.passwd }}"{% endif %}>
        <input class="btn btn-primary" type="submit">
    </form>
{% endblock %}
