<html>
  <head>
    <title>Modifica impiegato - Inventario</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{css}}">
  </head>
  <body>
    {% include 'nav.html.j2' %}
    <div class="container">
      <h1>
         Modifica impiegato
      </h1>
      <form class="form-inline" action="/imp_show/{{imp.iid}}" method="post">
        <select class="form-control" name="sid">
          {% for servizio in servizi %}
            <option value="{{servizio.sid}}" {% if imp.sid == servizio.sid %}selected="selected"{% endif %}>{{servizio.ente.nomebreveente}} - {{servizio.nomeservizio}}</option>
          {% endfor %}
        </select>
        <input class="form-control" type="text" placeholder="Nome e cognome" name="nomeimpiegato" value="{{imp.nomeimpiegato}}">
        <input class="form-control" type="text" placeholder="Nome utente" name="username" value="{{imp.username}}">
        <input class="form-control" type="text" placeholder="Password" name="passwd" value="{{imp.passwd}}">
        <input class="btn btn-primary" type="submit">
      </form>
   </div>
  </body>
</html>
