{% extends "base.htm" %}
{% block title %}Aggiungi rete • estus{% endblock %}
{% block content %}
    <h1>
        Aggiungi nuova rete
    </h1>
    <form class="form-inline" action="/net_add" method="post">
        <input class="form-control" type="text" placeholder="Nome rete" name="nome">
        <input class="form-control" type="text" placeholder="Network IP" name="network_ip">
        <input class="form-control" type="text" placeholder="Subnet mask" name="subnet">
        <input class="form-control" type="text" placeholder="DNS primario" name="primary_dns">
        <input class="form-control" type="text" placeholder="DNS secondario" name="secondary_dns">
        <input class="btn btn-primary" type="submit">
    </form>
{% endblock %}
