{% extends "base.htm" %}
{% block title %}Dettagli Impiegato{% endblock %}
{% block content %}
    <h1>
        Ispeziona Rete
    </h1>
    <ul class="list-group">
        <li class="list-group-item">
            <h4 class="list-group-item-heading">
                Nome Rete
            </h4>
            <div class="list-group-item-text">
                {{ net.nome }}
            </div>
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">
                IP
            </h4>
            <div class="list-group-item-text">
                {{ net.ip }}
            </div>
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">
                Dispositivi
            </h4>
            <div class="list-group-item-text">
                {% for dispositivo in dispositivi %}
                    <a href="/disp_details/{{ dispositivo.did }}">Seriale: {{ dispositivo.seriale }} - ID Ente: {{ dispositivo.inv_ente }}</a>
                {% endfor %}
            </div>
        </li>
    </ul>
{% endblock %}