{% extends "base.htm" %}
{% block title %}Dettagli rete • estus{% endblock %}
{% block content %}
    <h1>
        Dettagli della rete
    </h1>
    <ul class="list-group">
        <li class="list-group-item">
            <h4 class="list-group-item-heading">
                Nome Rete
            </h4>
            <div class="list-group-item-text">
                {{ net.nome }}
            </div>
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">
                Indirizzo di rete
            </h4>
            <div class="list-group-item-text">
                {{ net.network_ip }}
            </div>
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">
                Subnet mask
            </h4>
            <div class="list-group-item-text">
                {{ subnet }} (/{{ net.subnet }})
            </div>
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">
                Dispositivi
            </h4>
            <div class="list-group-item-text">
                {% for dispositivo in dispositivi %}
                    <a href="/disp_details/{{ dispositivo.did }}">{{ dispositivo }}</a><br>
                {% endfor %}
            </div>
        </li>
    </ul>
    <a href="/net_show/{{ net.nid }}" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span> Modifica
    </a>
    <a href="/net_del/{{ net.nid }}" class="btn btn-danger">
        <span class="glyphicon glyphicon-remove"></span> Elimina
    </a>
{% endblock %}