{% extends "base.htm" %}
{% block title %}Elenco reti • estus{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>
            Reti
            <a class="btn btn-success" href="/net_add"><span class="glyphicon glyphicon-plus"></span> Aggiungi</a>
        </h1>
    </div>
        {% for rete in reti if rete.network_ip == "0.0.0.0" %}
            <div class="alert alert-info">
                La rete con IP 0.0.0.0 sarà usata come rete di default durante l'eliminazione di altre reti con dispositivi assegnati. Cancellarla potrebbe avere effetti indesiderati.
            </div>
        {% else %}
            <div class="alert alert-danger">
                Non è presente nessuna rete con IP 0.0.0.0! Non sarà possibile eliminare altre reti finchè non sarà ricreata.
            </div>
        {% endfor %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nome Rete</th>
            <th>IP</th>
            <th>Azioni</th>
        </tr>
        </thead>
        {% for rete in reti %}
            <tr>
                <td>{{ rete.nome }}</td>
                <td>{{ rete.network_ip }}/{{ rete.subnet }}</td>
                <td><a href="/net_details/{{ rete.nid }}"><span class="glyphicon glyphicon-zoom-in"></span></a> <a href="/net_show/{{ rete.nid }}"><span class="glyphicon glyphicon-pencil"></span></a> {% if reti|length > 1 %}<a href="/net_del/{{ rete.nid }}"><span class="glyphicon glyphicon-remove"></span></a>{% endif %}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
