{% extends "base.htm" %}
{% block content %}
    <h1>
        Reti esistenti
    </h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nome Rete</th>
            <th>IP</th>
            <th>Ispeziona</th>
            <th>Elimina</th>
        </tr>
        </thead>
        <tr>
            {% for rete in reti %}
                <td>{{ rete.nome }}</td>
                <td>{{ rete.ip }}</td>
                <td><a href="/net_details/{{ rete.nid }}"><span class="glyphicon glyphicon-list-alt"></span></a></td>
                <td><a href="/net_del/{{ rete.nid }}"><span class="glyphicon glyphicon-remove"></span></a></td>
        </tr>
        {% endfor %}
    </table>
    <a class="btn btn-success" href="/net_add">Aggiungi</a>
{% endblock %}
