{% extends "base.htm" %}
{% block title %}Dettagli dispositivo • estus{% endblock %}
{% block extrahead %}
    <script src="https://use.fontawesome.com/f463ccd2d9.js"></script>
{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>
            {{ disp }}
            <a href="{{ url_for("page_disp_show", did=disp.did) }}" class="btn btn-primary">
                <span class="glyphicon glyphicon-pencil"></span> Modifica
            </a>
            <a href="{{ url_for("page_disp_del", did=disp.did) }}" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove"></span> Elimina
            </a>
        </h1>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <h4 class="list-group-item-heading">
                Tipo Dispositivo
            </h4>
            <div class="list-group-item-text">
                {{ disp.tipo }}
            </div>
        </li>
        {% if disp.marca %}
            <li class="list-group-item">
                <h4 class="list-group-item-heading">
                    Marca
                </h4>
                <div class="list-group-item-text">
                    {{ disp.marca }}
                </div>
            </li>
        {% endif %}
        {% if disp.modello %}
            <li class="list-group-item">
                <h4 class="list-group-item-heading">
                    Modello
                </h4>
                <div class="list-group-item-text">
                    {{ disp.modello }}
                </div>
            </li>
        {% endif %}
        {% if disp.oid %}
            <li class="list-group-item">
                <h4 class="list-group-item-heading">
                    Ordine
                </h4>
                <div class="list-group-item-text">
                    <a href="/order_details/{{ disp.ordine.oid }}">{{ disp.ordine }}</a>
                </div>
            </li>
        {% endif %}
        {% if disp.so %}
            <li class="list-group-item">
                <h4 class="list-group-item-heading">
                    Sistema Operativo
                </h4>
                <div class="list-group-item-text">
                    {% if "windows" in disp.so.lower() %}
                        <i class="fa fa-windows"
                           {% if "server" not in disp.so.lower() %}
                           style="color:
                                   {% if "XP" in disp.so %}#0046FF
                                   {% elif "Vista" in disp.so %}#69797E
                                   {% elif "7" in disp.so %}#30C6CC
                                   {% elif "8" in disp.so %}#F03A17
                                   {% elif "10" in disp.so %}#0078D7
                                   {% endif %};"
                           {% endif %}></i>
                    {% elif "linux" in disp.so.lower() or "ubuntu" in disp.so.lower() or "debian" in disp.so.lower() %}
                        <i class="fa fa-linux"></i>
                    {% elif "mac" in disp.so.lower() or "iOS" in disp.so %}
                        <i class="fa fa-apple"></i>
                    {% elif "android" in disp.so.lower() %}
                        <i class="fa fa-android"></i>
                    {% endif %}
                    {{ disp.so }}
                </div>
            </li>
        {% endif %}
        {% if accessi %}
            <li class="list-group-item">
                <h4 class="list-group-item-heading">
                    Utenti
                </h4>
                <div class="list-group-item-text">
                    {% for accesso in accessi %}
                        <a href="/imp_details/{{ accesso.iid }}">{{ accesso.impiegato.nomeimpiegato }}</a><br>
                    {% endfor %}
                </div>
            </li>
        {% endif %}
        {% if disp.inv_ced %}
            <li class="list-group-item">
                <h4 class="list-group-item-heading">
                    Codice Inventario CED
                </h4>
                <div class="list-group-item-text">
                    {{ disp.inv_ced }}
                </div>
            </li>
        {% endif %}
        {% if disp.inv_ente %}
            <li class="list-group-item">
                <h4 class="list-group-item-heading">
                    Codice Inventario Ente
                </h4>
                <div class="list-group-item-text">
                    {{ disp.inv_ente }}
                </div>
            </li>
        {% endif %}
        {% if disp.seriale %}
            <li class="list-group-item">
                <h4 class="list-group-item-heading">
                    Codice Seriale
                </h4>
                <div class="list-group-item-text">
                    {{ disp.seriale }}
                </div>
            </li>
        {% endif %}
        {% if disp.ip %}
            <li class="list-group-item">
                <h4 class="list-group-item-heading">
                    Indirizzo IP
                </h4>
                <div class="list-group-item-text">
                    {{ disp.ip }}
                </div>
            </li>
        {% endif %}
        {% if disp.hostname %}
            <li class="list-group-item">
                <h4 class="list-group-item-heading">
                    Hostname
                </h4>
                <div class="list-group-item-text">
                    {{ disp.hostname }}
                </div>
            </li>
        {% endif %}
        {% if disp.nid %}
            <li class="list-group-item">
                <h4 class="list-group-item-heading">
                    Network
                </h4>
                <div class="list-group-item-text">
                    <a href="{{ url_for("page_net_details", nid=disp.rete.nid) }}">{{ disp.rete.nome }} - {{ disp.rete.network_ip }}/{{ disp.rete.subnet }}</a>
                </div>
            </li>
        {% endif %}
    </ul>
{% endblock %}