{% extends "base.htm" %}
{% block title %}Elenco dispositivi • estus{% endblock %}
{% block extrahead %}
    <script src="https://use.fontawesome.com/f463ccd2d9.js"></script>
{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>
            Dispositivi
            <a class="btn btn-success" href="{{ url_for("page_disp_add") }}"><span class="glyphicon glyphicon-plus"></span> Aggiungi</a>
        </h1>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Tipo dispositivo</th>
            <th>Utenti</th>
            <th>Inventario CED</th>
            <th>S.O.</th>
            <th>IP</th>
            <th>Seriale</th>
            <th>Azioni</th>
        </tr>
        </thead>
        {% for d in accessi %}
            <tr>
                <td>{{ d[0].dispositivo.tipo }}</td>
                <td>{% for u in d %}<p>{{ u.impiegato.nomeimpiegato }}</p>{% endfor %}</td>
                <td>{% if d[0].dispositivo.inv_ced %}{{ d[0].dispositivo.inv_ced }}{% endif %}</td>
                <td>
                    {% if "windows" in d[0].dispositivo.so.lower() %}
                        <i class="fa fa-windows"
                           {% if "server" not in d[0].dispositivo.so.lower() %}
                           style="color:
                                   {% if "XP" in d[0].dispositivo.so %}#0046FF
                                   {% elif "Vista" in d[0].dispositivo.so %}#69797E
                                   {% elif "7" in d[0].dispositivo.so %}#30C6CC
                                   {% elif "8" in d[0].dispositivo.so %}#F03A17
                                   {% elif "10" in d[0].dispositivo.so %}#0078D7
                                   {% endif %};"
                           {% endif %}></i>
                    {% elif "linux" in d[0].dispositivo.so.lower() or "ubuntu" in d[0].dispositivo.so.lower() or "debian" in d[0].dispositivo.so.lower() %}
                        <i class="fa fa-linux"></i>
                    {% elif "mac" in d[0].dispositivo.so.lower() or "iOS" in d[0].dispositivo.so %}
                        <i class="fa fa-apple"></i>
                    {% elif "android" in d[0].dispositivo.so.lower() %}
                        <i class="fa fa-android"></i>
                    {% endif %}
                    {{ d[0].dispositivo.so }}
                </td>
                <td>{{ d[0].dispositivo.ip }}</td>
                <td>{% if d[0].dispositivo.seriale %}{{ d[0].dispositivo.seriale }}{% endif %}</td>
                <td>
                    <a href="{{ url_for("page_disp_details", did=d[0].did) }}" title="Dettagli"><span class="glyphicon glyphicon-zoom-in"></span></a>
                    <a href="{{ url_for("page_disp_show", did=d[0].did) }}" title="Modifica"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="{{ url_for("page_disp_clone", did=d[0].did) }}" title="Clona"><span class="glyphicon glyphicon-duplicate"></span></a>
                    <a href="{{ url_for("page_disp_del", did=d[0].did) }}" title="Elimina"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
