{% extends "base.htm" %}
{% block title %}Modifica dispositivo • estus{% endblock %}
{% block extrahead %}
    <script>
        var users = 0;

        function genhtml(n) {
            return "<select id=\"utente" + n + "\" class=\"form-control\" name=\"utente" + n + "\">{% for impiegato in impiegati %}<option value=\"{{impiegato.iid}}\">{{impiegato.nomeimpiegato}} - {{impiegato.username}}</option>{% endfor %}</select>"
        }


        function adduser() {
            $("#users-column").append(genhtml(users));
            users += 1;
            $("#remove-user").removeClass("disabled");
        }

        function removeuser() {
            if (users > 0) {
                $("#utente" + (users - 1)).remove();
                users -= 1;
                if (users === 0) {
                    $("#remove-user").addClass("disabled");
                }
            }
        }

        function calchostname() {
            var comune = prompt("Inserisci le due lettere corrispondenti al comune in cui verrà collocato il dispositivo. (Es: VG)";
            var anno = prompt("Inserisci le ultime due cifre dell'anno di acquisto di questo dispositivo. (Es: 17)");
            var inv = $("#form-ced").val();
            if(inv === "")
            {
                inv = prompt("Inserisci il numero dell'inventario del dispositivo. (Es: 0351)")
            }
            var proprietario = prompt("Inserisci la lettera corrispondente al proprietario del dispositivo. (Es: U)");
            $("#form-hostname").val(comune + anno + inv + proprietario);
        }

        window.onload = function () {
            {% for accesso in accessi %}
                adduser();
                $("#utente{{ loop.index }} option").prop("selected", false);
                $("#utente{{ loop.index }} option[value={{ accesso.iid }}]").prop("selected", true);
            {% endfor %}
        }
    </script>
{% endblock %}
{% block content %}
    <h1>
        {% if action == "show" %}
            Modifica dispositivo
        {% elif action == "clone" %}
            Clona dispositivo
        {% endif %}
    </h1>
    <form class="form-horizontal" action="/disp_{{ action }}/{{ dispositivo.did }}" method="post">
        <div class="form-group">
            <label class="col-xs-2" for="">Tipo dispositivo</label>
            <div class="col-xs-10">
                <select id="form-tipo" class="form-control" name="tipo">
                    {% for opzione in opzioni %}
                        <option value="{{ opzione }}" {% if opzione == dispositivo.tipo %}selected{% endif %}>{{ opzione }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2" for="form-utente">Utenti</label>
            <div class="col-xs-10" id="users-column">
                <p>
                    <div id="add-user" class="btn btn-success" onclick="adduser()"><span class="glyphicon glyphicon-plus"></span></div>
                    <div id="remove-user" class="btn btn-danger disabled" onclick="removeuser()"><span class="glyphicon glyphicon-minus"></span></div>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2" for="form-marca">Marca</label>
            <div class="col-xs-10">
                <input id="form-marca" class="form-control" type="text" placeholder="Marca" name="marca" value="{{ dispositivo.marca }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2" for="form-modello">Modello</label>
            <div class="col-xs-10">
                <input id="form-modello" class="form-control" type="text" placeholder="Modello" name="modello" value="{{ dispositivo.modello }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2" for="form-ced">Inventario CED</label>
            <div class="col-xs-10">
                <input id="form-ced" class="form-control" type="text" placeholder="Inventario CED" name="inv_ced" {% if dispositivo.inv_ced %}value="{{ dispositivo.inv_ced }}"{% endif %}>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2" for="form-ente">Inventario ente</label>
            <div class="col-xs-10">
                <input id="form-ente" class="form-control" type="text" placeholder="Inventario ente" name="inv_ente" {% if dispositivo.inv_ente %}value="{{ dispositivo.inv_ente }}"{% endif %}>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2" for="form-fornitore">Fornitore</label>
            <div class="col-xs-10">
                <input id="form-fornitore" class="form-control" type="text" placeholder="Fornitore" name="fornitore" value="{{ dispositivo.fornitore }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2" for="form-seriale">Numero Seriale</label>
            <div class="col-xs-10">
                <input id="form-seriale" class="form-control" type="text" placeholder="Seriale" name="seriale" value="{{ dispositivo.seriale }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2" for="">Rete</label>
            <div class="col-xs-10">
                <select id="form-rete" class="form-control" name="rete">
                    {% for rete in reti %}
                        <option value="{{ rete.nid }}" {% if rete.nid == dispositivo.nid %}selected{% endif %}>{{ rete.nome }} - {{ rete.network_ip }}/{{ rete.subnet }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2" for="form-ip">IP</label>
            <div class="col-xs-10">
                <input id="form-ip" class="form-control" type="text" placeholder="Indirizzo IP" name="ip" value="{{ dispositivo.ip }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2" for="form-ip">Hostname</label>
            <div class="col-xs-8">
                <input id="form-hostname" class="form-control" type="text" placeholder="Hostname" name="hostname">
            </div>
            <div class="col-xs-2">
                <button class="form-control btn btn-info" onclick="calchostname()" type="button">Genera</button>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2" for="form-control"></label>
            <div class="col-xs-10">
                <input class="form-control btn btn-primary" type="submit">
            </div>
        </div>
    </form>
{% endblock %}