{% extends "base.htm" %}
{% block title %}Elenco Enti{% endblock %}
{% block content %}
    <h1>
        Enti esistenti
    </h1>
    <a class="btn btn-success" href="/ente_add"><span class="glyphicon glyphicon-plus"></span> Aggiungi</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nome ente</th>
            <th>Nome breve</th>
            <th>Ispeziona</th>
            <th>Modifica</th>
            <th>Elimina</th>
        </tr>
        </thead>
        <tbody>
        {% for ente in enti %}
            <tr>
                <td>{{ ente.nomeente }}</td>
                <td>{{ ente.nomebreveente }}</td>
                <td><a href="/serv_list/{{ ente.eid }}"><span class="glyphicon glyphicon-list-alt"></span></a></td>
                <td><a href="/ente_show/{{ ente.eid }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td><a href="/ente_del/{{ ente.eid }}"><span class="glyphicon glyphicon-remove"></span></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
