{% extends "base.htm" %}
{% block title %}Aggiungi servizio • estus{% endblock %}
{% block content %}
    <h1>
        Aggiungi nuovo servizio
    </h1>
    <form class="form-inline" action="/serv_add" method="post">
        <select class="form-control" name="eid">
            {% for ente in enti %}
                <option value="{{ ente.eid }}">{{ ente.nomeente }}</option>
            {% endfor %}
        </select>
        <input class="form-control" type="text" placeholder="Nome ente" name="nomeservizio">
        <input class="form-control" type="text" placeholder="Locazione" name="locazione">
        <input class="form-control" type="submit">
    </form>
{% endblock %}