{% extends "base.htm" %}
{% block title %}Lista Servizi{% endblock %}
{% block content %}
      <h1>
         Servizi esistenti
      </h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nome ente</th>
            <th>Nome servizio</th>
            <th>Ispeziona</th>
            <th>Modifica</th>
            <th>Elimina</th>
          </tr>
        </thead>
        {% for servizio in serv %}
          <tr>
            <td>{{ servizio.ente.nomeente }}</td>
            <td>{{ servizio.nomeservizio }}</td>
            <td><a href="/imp_list/{{ servizio.sid }}"><span class="glyphicon glyphicon-list-alt"></span></a></td>
            <td><a href="/serv_show/{{ servizio.sid }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href="/serv_del/{{ servizio.sid }}"><span class="glyphicon glyphicon-remove"></span></a></td>
          </tr>
        {% endfor %}
      </table>
      <a class="btn btn-success" href="/serv_add">Aggiungi</a>
{% endblock %}
