.monospace
{
  font-family: "Consolas", monospace;
}

.btn-right
{
  margin-right: 16px;
}

.navbar-brand
{
    padding-top: 1px;
    padding-bottom: 1px;
}

.navbar-brand img
{
    height: 100%;
}

.goldfish
{
    height: 31px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    vertical-align: top !important;
}

.goldfish svg
{
    max-height: 31px;
}

.fish {
    fill: currentColor;
}

.string
{
    background-color: #c8ffc8;
    color: #006600;
}

.number
{
    background-color: #c8c8ff;
    color: #000066;
}

.bytes
{
    background-color: #ffc8c8;
    color: #660000;
}

.badge-nousers
{
    background-color: darkred;
}

.container-lower
{
    margin-top: 10px;
}

body
{
  padding-top: 70px; /*Per la navbar*/
}
