.monospace
{
  font-family: "Consolas", monospace;
}

.btn-right
{
  margin-right: 16px;
}

.navbar-brand
{
    padding-top: 1px;
    padding-bottom: 1px;
}

.navbar-brand img
{
    height: 100%;
}

.goldfish
{
    max-height: 31px;
    padding-left: 10px;
    padding-right: 10px;
}

body
{
  padding-top: 70px; /*Per la navbar*/
}
