{% extends 'base.htm' %}
{% block title %}Non autorizzato • estus{% endblock %}
{% block extrahead %}
    <script>
        window.onload = function() {
            setTimeout(function() {
                window.location.href = "{{ url_for("page_login") }}";
            }, 4000)
        }
    </script>
{% endblock %}
{% block content %}
    <div class="alert alert-danger" role="alert">
        <b>403 Forbidden:</b> Devi eseguire il login per poter visualizzare questa pagina.
    </div>
    <div>
        Sarai reindirizzato alla pagina di login entro 4 secondi (se hai abilitato il javascript).
    </div>
{% endblock %}