<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="icon" href="http://www.terredicastelli.mo.it/favicon.ico">
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        {% include 'nav.htm' %}
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        {% if footer is not defined %}
            <div class="container container-lower">
                <div class="well well-sm">
                    <div align="right">
                        {% if user %}
                            <div class="goldfish"><a href="/pheesh">{% include 'pheesh.svg' %}</a></div>
                        {% endif %}
                        <div class="goldfish"><a href="/smecds"><img alt="Secondo me è colpa dello stagista..." src="{{ url_for('static', filename='joke.png') }}"></a></div>
                    </div>
                </div>
            </div>
        {% endif %}
    </body>
</html>
