<html>
  <head>
    <title>Elenco enti - Inventario</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{css}}">
  </head>
  <body>
    {% include 'nav.html.j2' %}
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h2>
            Servizi per ente
          </h2>
          <ul class="list-group">
            {% for ente in conteggioservizi %}
            <li class="list-group-item">
              {{ente}}
              <span class="badge">{{conteggioservizi[ente]}}</span>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-sm-4">
          <h2>
            Utenti per ente
          </h2>
          <ul class="list-group">
            {% for ente in conteggioutenti %}
            <li class="list-group-item">
              {{ente}}
              <span class="badge">{{conteggioutenti[ente]}}</span>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-sm-4">
          Destra
        </div>
      </div>
    </div>
  </body>
</html>
