<html>
  <head>
    <title>Aggiungi un pesce rosso</title>
    <link rel="stylesheet" href="{{css}}">
  </head>
  <body>
    <div class="pepsecret">Risio e le risiaie</div>
    <div class="container">
      <h1>
         Aggiunta nuovo ente
      </h1>
      <form action="/ente_show/{{ ente.eid }}" method="post">
        <input type="text" placeholder="Nome ente" name="nome" value="{{ ente.nome }}">
        <input type="text" placeholder="Nome breve" name="nomebreve" value="{{ ente.nomebreve }}">
        <input type="submit">
      </form>
   </div>
  </body>
</html>
