<html>
  <head>
    <title>Visualizza un pesce rosso</title>
    <link rel="stylesheet" href="{{css}}">
  </head>
  <body>
    <div class="pepsecret">Ciao pesce</div>
    <div class="container">
      <h1>
         Enti esistenti
      </h1>
      <table>
        {% for ente in enti %}
        <tr>
          <td>{{ ente.nome }}</td>
          <td>{{ ente.nomebreve }}</td>
          <td><a href="/ente_show/{{ ente.eid }}">Modifica</a></td>
          <td><a href="/ente_del/{{ ente.eid }}">Elimina</a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
