{% extends 'base.htm' %}
{% block title %}Errore • estus{% endblock %}
{% block extrahead %}
    <script>
        window.onload = function() {
            setTimeout(function() {
                window.history.back();
            }, 4000)
        }
    </script>
{% endblock %}
{% block content %}
    <div class="alert alert-danger" role="alert">
        <b>ERRORE:</b> {{ error }}
    </div>
    <div>
        Sarai reindirizzato alla pagina precedente entro 4 secondi (se hai abilitato il javascript).
    </div>
{% endblock %}