{% extends "base.htm" %}
{% block title %}Login • estus{% endblock %}
{% block content %}
    <h1>
        Login
    </h1>
    <form class="form-inline" action="/login" method="post">
        <input class="form-control" type="text" placeholder="Username" name="username">
        <input class="form-control" type="password" placeholder="Password" name="password">
        <div class="checkbox">
            <label>
                <input type="checkbox" name="remember"> Rimani connesso per 1 mese
            </label>
        </div>
        <input class="btn btn-primary" type="submit" value="Login">
    </form>
{% endblock %}