<html>
  <head>
    <title>Pesci rossi nel login</title>
    <link rel="stylesheet" href="{{css}}">
  </head>
  <body>
    <div class="pepsecret">Ciao Ruozi!</div>
    <div class="container">
      <h1>
         Login
      </h1>
      <form action="/login" method="post">
        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="password">
        <input type="submit">
      </form>
      <img class="goldfish" src="{{goldfish}}">
      <img class="goldfish" src="{{goldfish}}">
      <img class="goldfish" src="{{goldfish}}">
   </div>
  </body>
</html>
