<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcollapse"><span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span></button>
            {% if user %}
                <a class="navbar-brand" href="/dashboard"><img alt="Inventario" src="{{ url_for('static', filename='UTdClogo.png') }}"></a>
            {% else %}
                <a class="navbar-brand" href="/login"><img alt="Inventario" src="{{ url_for('static', filename='UTdClogo.png') }}"></a>
            {% endif %}
        </div>
        <div id="navcollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% if user %}
                        <li class="{% if pagetype is equalto "ente" %}active{% endif %}"><a href="/ente_list">Enti</a></li>
                        <li class="{% if pagetype is equalto "serv" %}active{% endif %}"><a href="/serv_list">Servizi</a></li>
                        <li class="{% if pagetype is equalto "imp" %}active{% endif %}"><a href="/imp_list">Impiegati</a></li>
                        <li class="{% if pagetype is equalto "disp" %}active{% endif %}"><a href="/disp_list">Dispositivi</a></li>
                        <li class="{% if pagetype is equalto "net" %}active{% endif %}"><a href="/net_list">Reti</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="{% if pagetype is equalto "user" %}active{% endif %}"><a href="/user_list">Utenti</a></li>
                        <li class="{% if pagetype is equalto "query" %}active{% endif %}"><a href="/query">Query</a></li>
                        <li class="navbar-text">
                            Sei connesso come <b>{{user}}</b>
                        </li>
                        <a href="/logout" class="btn btn-danger navbar-btn btn-right">Logout</a>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
