{% extends "base.htm" %}
{% block title %}Smecds • estus{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>
            Secondo me è colpa dello stagista...
        </h1>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">Informazioni sul sito</div>
                <div class="panel-body">
                    Questo sito è stato scritto da <a href="mailto:ste.pigozzi@gmail.com">Stefano Pigozzi</a> e da <a href="mailto:lorenzo.balugani@gmail.com">Lorenzo Balugani</a> durante lo stage di 4° e di 5° nel 2017.<br>
                    Questo sito utilizza <a href="https://www.python.org/">Python 3.6</a>, <a href="http://flask.pocoo.org/">Flask</a> e <a href="https://www.sqlalchemy.org/">SQLAlchemy</a>.<br>
                    Il <a href="https://github.com/Steffo99/estus/tree/master">codice sorgente</a> è disponibile suGitHub, rilasciato sotto MIT License.<br>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <img width="100%" alt="Inventario Unione Terre di Castelli" src="{{ url_for('static', filename='UTdClogo.png') }}">
        </div>
    </div>
{% endblock %}