<html>
  <head>
    <title>Aggiungi un pesce rosso</title>
    <link rel="stylesheet" href="{{css}}">
  </head>
  <body>
    <div class="pepsecret">Ciao Ciao</div>
    <div class="container">
      <h1>
         Login
      </h1>
      <form action="/user_add" method="post">
        <input type="text" placeholder="Nome e cognome" name="nome">
        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="password">
        <input type="submit">
     </form>
   </div>
  </body>
</html>
