{% extends "base.htm" %}
{% block title %}Elenco ordini • estus{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>
            Ordini
            <a class="btn btn-success" href="{{ url_for("page_order_add") }}"><span class="glyphicon glyphicon-plus"></span> Aggiungi</a>
        </h1>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Data dell'ordine</th>
            <th>Numero dell'ordine</th>
            <th>Fornitore</th>
            <th>Stato garanzia</th>
            <th>Azioni</th>
        </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{% if order.data %}{{ order.data }}{% endif %}</td>
                    <td>{% if order.numero_ordine %}{{ order.numero_ordine }}{% endif %}</td>
                    <td>{% if order.fornitore %}{{ order.fornitore }}{% endif %}</td>
                    <td>
                        {% if order.garanzia %}
                            {% if order.garanzia > soon %}
                                <span class="label label-success">Valida</span>
                            {% elif order.garanzia > today %}
                                <span class="label label-warning">In scadenza</span>
                            {% else %}
                                <span class="label label-danger">Scaduta</span>
                            {% endif %}
                            {{ order.garanzia }}
                        {% endif %}
                    </td>
                    <td><a href="{{ url_for("page_order_details", oid=order.oid) }}" title="Dettagli"><span class="glyphicon glyphicon-zoom-in"></span></a> <a href="{{ url_for("page_order_show", oid=order.oid) }}"><span class="glyphicon glyphicon-pencil"></span></a> <a href="javascript:void(0)" onclick="delet(&quot;{{ url_for("page_order_del", oid=12341234) }}&quot;, {{ order.oid }}, &quot;{{ order }}&quot;);"><span class="glyphicon glyphicon-remove"></span></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
