{% extends "base.htm" %}
{% block title %}Aggiungi utente inventario • estus{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>
            Aggiungi nuovo utente dell'inventario
        </h1>
    </div>
    <div class="alert alert-warning">
        <b>Attenzione!</b> Tutti gli utenti che verranno aggiunti qui avranno accesso in lettura e scrittura su tutto l'inventario!
    </div>
    <form class="form-inline" action="/user_add" method="post">
        <input class="form-control" type="text" placeholder="Nome utente" name="username">
        <input class="form-control" type="password" placeholder="Password" name="passwd">
        <input class="btn btn-primary" type="submit">
    </form>
{% endblock %}
