{% extends "base.htm" %}
{% block title %}Elenco utenti inventario • estus{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>
            Utenti dell'inventario
            <a class="btn btn-success" href="{{ url_for("page_user_add") }}"><span class="glyphicon glyphicon-plus"></span> Aggiungi</a>
        </h1>
    </div>
    <div class="alert alert-info">
        <b>Siete al sicuro!</b> Tutte le password degli utenti di questo inventario vengono hashate e saltate con bcrypt!
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nome utente</th>
            <th>Elimina</th>
        </tr>
        {% for utente in utenti %}
            <tr>
                <td>{{ utente.username }}</td>
                <td>
                    {% if utenti|length >= 2 and utente.username != user %}
                        <a href="javascript:void(0)" onclick="delet(&quot;{{ url_for("page_user_del", uid=12341234) }}&quot;, {{ utente.uid }}, &quot;{{ utente }}&quot;);"><span class="glyphicon glyphicon-remove"></span>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
